<aside class="message w-auto my-1">
    <small class="text-muted d-block ml-5 <%= message.hide_for(current_user) %>">
        <%= message.sender.nickname_at(message.conversation).name %></small>
    <div class="d-flex <%= message.position_for(current_user) %>">
        <%= image_tag message.sender.avatar, data: {toggle: "tooltip", placement: "bottom"}, title: message.sender.name, class: "btn btn-sm btn-float shadow-none border border-info" %>
        <div data-toggle="tooltip" data-placement="bottom" data-container="body" title="<%= I18n.l(message.created_at, format: :long) %>" class="mx-1">
            <div class="content bg-<%= message.color_for(current_user) %> p-2 br-25 text-<%= message.direction_for(current_user) %>">
                <%= message.content %>
            </div>
        </div>
        <div class="icons <%= message.position_for(current_user) %> d-sm-none d-md-flex">
            <%= link_to material_icon.insert_emoticon, "#react", data: {toggle: "tooltip", placement: "bottom"}, title: "React", class: "btn btn-sm btn-float shadow-none" %>
            <%= link_to material_icon.reply, "#reply", data: {toggle: "tooltip", placement: "bottom"}, title: "Reply", class: "btn btn-sm btn-float shadow-none" %>
            <%= link_to material_icon.more_horiz, "#more", data: {toggle: "tooltip", placement: "bottom"}, title: "More", class: "btn btn-sm btn-float shadow-none" %>
        </div>
    </div>
</aside>