<section class="col-12 col-sm-12 col-md-11 col-lg-9 offset-md-1 offset-lg-3 position-fixed px-0 w-100 bottom-0-p left-0-p">
    <div id="add-cancel-icons" class="d-md-none shadow-sm p-3 collapse bg-white">
        <div class="justify-content-between d-flex">
            <%= link_to material_icon.poll, "#create-a-poll-icon", class: "" %>
            <%= link_to material_icon.camera_alt, "#take-a-picture", class: "" %>
            <%= link_to material_icon.gamepad, "#play-a-game", class: "" %>
            <%= link_to material_icon.mic, "#send-a-voice-clip", class: "" %>
            <%= link_to material_icon.gif, "#choose-a-gif", class: "" %>
            <%= link_to material_icon.insert_drive_file, "#choose-a-sticker", class: "" %>
            <%= link_to material_icon.insert_photo, "#add-files", class: "" %>
        </div>
    </div>
    <div class="card shadow-none border-0 border-top border-light">
        <div class="card-footer pt-1 px-1 pb-0">
            <%= form_with(model: @message, url: messages_path, html: {id: "new-message-form"}) do |f| %>
            <div class="form-inputs">
                <div class="d-flex justify-content-between align-items-center">
                    <%= link_to material_icon.add_circle, "#add-cancel-icons", data: {first: "add_circle", second: "cancel", toggle: "collapse"}, class: "add-cancel-icons btn-sm d-md-none text-muted" %>
                    <%= link_to material_icon.add_circle, "#add-cancel-icons", data: {first: "add_circle", second: "cancel", toggle: "collapse", target: ".hidden-icon"}, class: "add-cancel-icons btn-sm d-none d-sm-none d-md-block text-muted" %>
                    <%= link_to material_icon.poll, "#create-a-poll-icon", class: "hidden-icon collapse fade btn-sm d-none d-sm-none collapse-md text-muted" %>
                    <%= link_to material_icon.camera_alt, "#take-a-picture", class: "hidden-icon collapse fade btn-sm d-none d-sm-none collapse-md text-muted" %>
                    <%= link_to material_icon.gamepad, "#play-a-game", class: "hidden-icon collapse fade btn-sm d-none d-sm-none collapse-md text-muted" %>
                    <%= link_to material_icon.mic, "#send-a-voice-clip", class: "hidden-icon collapse fade btn-sm d-none d-sm-none collapse-md text-muted" %>
                    <%= link_to material_icon.gif, "#choose-a-gif", class: "btn-sm d-none d-sm-none d-md-block text-muted" %>
                    <%= link_to material_icon.insert_drive_file, "#choose-a-sticker", class: "btn-sm d-none d-sm-none d-md-block text-muted" %>
                    <%= link_to material_icon.insert_photo, "#add-files", class: "btn-sm d-none d-sm-none d-md-block text-muted" %>
                    <div class="chip bg-transparent border mb-1 w-100">
                        <%= f.text_area :content, rows: 1, placeholder: "Type a message, @name...", id: "", disabled: true, class: "input w-100 text-muted" %>
                        <%= link_to material_icon.insert_emoticon, "#insert-emoji", class: "text-muted" %>
                    </div>
                    <%= link_to material_icon.monetization_on, "#change-emoji", class: "shadow-none btn-sm text-muted" %>
                    <button type="submit" class="shadow-none btn-sm btn btn-float d-none disabled text-muted">
                        <i class="material-icons text-success">send</i>
                    </button>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</section>