<!DOCTYPE html>
<html>

<head>
    <%= render 'layouts/online/head' %>
</head>

<body class="online h-100-vh hidden-y hidden-x <%= controller_name %> <%= action_name %>" data-profile="<%= current_user.id %>" data-c_id="<%= @conversation ? @conversation.id : 0 %>">
    <div class="row hidden-y hidden-x">
        <aside id="side-left" class="col-2 col-sm-2 col-md-1 col-lg-3 px-0">
            <%= render 'chats/templates/2/side-nav' %>
        </aside>
        <aside class="col-10 col-sm-10 col-md-11 col-lg-9 px-0">
            <%= render 'chats/templates/2/navbar' %>
            <div class="hidden-x chat-body">
                <div class="input-group position-fixed top-13-p-sm right-0-p zi-100 pt-1 w-auto">
                    <button type="button" id="main-menu-toggler" data-target="#main-menu" class="input-group-prepend m-0 border-0 bg-light btn-sm">
                        <i class="material-icons md-48">chevron_left</i>
                    </button>
                    <nav id="main-menu" class="nav bg-light collapse">
                        <ul class="list-inline m-0">
                            <li class="list-inline-item">
                                <button id="goFS" class="btn shadow-none"><i id="fullscreen-icon" class="material-icons">fullscreen</i></button>
                            </li>
                        </ul>
                    </nav>
                </div>
                <%= yield %>
            </div>
        </aside>
    </div>
</body>

</html>