<section class="d-flex align-items-center container h-100-vh">
    <div class="container px-sm-0">
        <div class="row">
            <div class="col-md-2 col-lg-3"></div>
            <div class="col-sm-12 col-md-8 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h2>Log in</h2>
                    </div>
                    <div class="card-body">
                        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), remote: true) do |f| %>
                        <div class="form-inputs">
                            <div class="form-group">
                                <%= f.text_field :login, autofocus: true, placeholder: "Email or phone number", class: "w-100" %>
                            </div>
                            <div class="form-group">
                                <%= f.password_field :password, placeholder: "Password", autocomplete: true, class: "w-100" %>
                            </div>
                            <% if devise_mapping.rememberable? %>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <%= f.check_box :remember_me, class: "custom-control-input" %>
                                    <%= f.label :remember_me, "Keep me signed in", class: "custom-control-label" %>
                                </div>
                            </div>
                            <% end %>
                        </div>
                        <div class="form-actions text-center">
                            <%= f.button :submit, "Log in", class: "btn btn-info" %>
                        </div>
                        <% end %>
                        <%= render "users/shared/links" %>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-lg-3"></div>
        </div>
    </div>
</section>