
<%= simple_form_for(@conversation) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :admin %>
    <%= f.input :name %>
    <%= f.input :receive_notifications_for_messages %>
    <%= f.input :receive_notifications_for_reactions %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
