<li class="list-group-item border-0 shadow-none br-0">
    <%= link_to user.discussion_with(current_user), class: "" do %>
    <div class="d-flex justify-content-between align-items-center">
        <div class="media justify-content-between align-items-center">
            <%= image_tag user.avatar, size: 25, class: "h-100 rounded-circle" %>
            <div class="media-body">
                <p class="m-0 text-dark">
                    <%= user.name %>
                </p>
            </div>
        </div>
        <div class="dropdown">
            <% if @conversation.admin == user %>
            <small class="less">Admin</small>
            <% end %>
            <%= link_to material_icon.more_horiz, '#more', data: {toggle: 'dropdown'}, class: 'more' %>
            <div class="dropdown-menu dropdown-menu-right">
                <%= link_to "Message", "#message", class: "dropdown-item" %>
                <%= link_to "View Profile", "#view-profile", class: "dropdown-item" %>
            </div>
        </div>
    </div>
    <% end %>
</li>