<p id="notice"><%= notice %></p>

<h1>Trashes</h1>

<table>
  <thead>
    <tr>
      <th>Dropbox</th>
      <th>Trashable</th>
      <th>Trashable type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trashes.each do |trash| %>
      <tr>
        <td><%= trash.dropbox_id %></td>
        <td><%= trash.trashable_id %></td>
        <td><%= trash.trashable_type %></td>
        <td><%= link_to 'Show', trash %></td>
        <td><%= link_to 'Edit', edit_trash_path(trash) %></td>
        <td><%= link_to 'Destroy', trash, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trash', new_trash_path %>
