
<%= simple_form_for(@alien) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :space %>
    <%= f.association :muteable %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
